<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/navigation.ejs') %>
    <form class="logout-form" action="/admin/logout" method="post">
        <h1>Welcome <%=usersData.username %></h1>
        <button type="submit">Logout</button>
    </form>
    <main>
        <div class="tasks-section">
            <h1 class="section-title">Tasks</h1>
            <!-- Tasks Section -->
            <% if (tasksData.length > 0) { %>
                <div class="task-grid">
                    <% tasksData.forEach(item => { %>
                        <article class="task-card task-item">
                            <header class="task-card-header">
                                <h1 class="task-title"> <%=item.title%> </h1>
                            </header>
                            <div class="task-card-content">
                                <h2 class="task-time"><%=item.time%></h2>
                                <p class="task-description"><%=item.description%></p>
                            </div>
                            <div class="task-card-actions">
                                <button class="task-card-button">Mark Complete</button>
                            </div>
                        </article>
                    <% }) %>
                </div>
            <% } else { %>
                <h1 class="section-empty-title">You have no assigned tasks</h1>
            <% } %>
        </div>
        <div class="ideas-section">
            <!-- Ideas Section -->
            <!-- Color Palette site, you can add the colors you want to create a color palette. Integrate AI to generate for you-->
            <!-- South African Folklore Website. A site for readers and writers, mainly South African writers telling South African stories. Integrate AI to generate short stories and/or poems. -->
            <h1 class="section-title">Ideas</h1>
            <% if (ideasData.length > 0) { %>
                <div class="idea-grid">
                    <% ideasData.forEach(item => { %>
                        <article class="idea-card idea-item">
                            <header class="idea-card-header">
                                <h1 class="idea-title"> <%=item.title%> </h1>
                            </header>
                            <div class="idea-card-content">
                                <p class="idea-description"><%=item.description%></p>
                            </div>
                            <div class="idea-card-actions">
                                <button class="idea-card-button">Revisit</button>
                            </div>
                        </article>
                    <% }) %>
                </div>
            <% } else { %>
                <h1 class="section-empty-title">You have no written ideas</h1>
            <% } %>
        </div>
    </main>
<%- include('./includes/end.ejs') %>