<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/navigation.ejs') %>
    <form class="logout-form" onsubmit="logoutUser(event)">
        <h1>Welcome <%=usersData.username %></h1>
        <button type="submit">Logout</button>
    </form>
    <main>
        <div class="tasks-section">
            <h1 class="section-title">Tasks</h1>
            <!-- Tasks Section -->
            <% if (tasksData.length > 0) { %>
                <div class="task-grid">
                    <% tasksData.forEach(item => { %>
                        <article class="task-card task-item">
                            <header class="task-card-header">
                                <h1 class="task-title"> <%=item.title%> </h1>
                            </header>
                            <div class="task-status-container">
                                <% if (item.complete) {%>
                                    <span class="task-status-complete">complete</span>
                                <%} else { %>
                                    <span class="task-status-incomplete">incomplete</span>
                                <%} %>
                            </div>
                            <div class="task-card-content">
                                <h2 hidden class="time-display" id="date-time-display"><%=item.time%></h2>
                                <span class="task-time" id="formatted-date"></span>
                                <p class="task-description"><%=item.description%></p>
                            </div>
                            <div class="task-card-actions">
                                <button class="task-card-button" onclick="markComplete('<%=item.id%>')">Mark Complete</button>
                            </div>
                        </article>
                    <% }) %>
                </div>
            <% } else { %>
                <h1 class="section-empty-title">You have no assigned tasks</h1>
            <% } %>
        </div>
        <div class="ideas-section">
            <!-- Ideas Section -->
            <!-- Color Palette site, you can add the colors you want to create a color palette. Integrate AI to generate for you-->
            <!-- South African Folklore Website. A site for readers and writers, mainly South African writers telling South African stories. Integrate AI to generate short stories and/or poems. -->
            <h1 class="section-title">Ideas/Notes</h1>
            <% if (ideasData.length > 0) { %>
                <div class="idea-grid">
                    <% ideasData.forEach(item => { %>
                        <article class="idea-card idea-item">
                            <header class="idea-card-header">
                                <h1 class="idea-title"> <%=item.title%> </h1>
                            </header>
                            <div class="idea-card-content">
                                <p class="idea-description"><%=item.description%></p>
                            </div>
                            <div class="idea-card-actions">
                                <button class="idea-card-button">Revisit</button>
                            </div>
                        </article>
                    <% }) %>
                </div>
            <% } else { %>
                <h1 class="section-empty-title">You have no written ideas</h1>
            <% } %>
        </div>
        <script>
            const dateDisplays = document.getElementsByClassName('time-display'); 
            const dateCollection = Object.values(dateDisplays).map(d => {  //this will be in ISO 8601 format.
                const localeDate = new Date(d.textContent).toLocaleDateString();
                const localeTime = new Date(d.textContent).toLocaleTimeString();
                return localeDate + " " + localeTime;
            });
            const formattedDateDisplays = document.getElementsByClassName('task-time');
            Object.values(formattedDateDisplays).map((d, index) => {d.textContent = dateCollection[index]});
        </script>
    </main>
<%- include('./includes/end.ejs') %>