<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/navigation.ejs') %>
    <main>
        <% if (productsData.length > 0) { %>
            <div class="grid">
                <% productsData.forEach(prod => { %>
                    <article class="card product-item">
                        <header class="card-header">
                            <h1 class="product-title"> <%=prod.title%> </h1>
                        </header>
                        <div class="card-image">
                            <img src="https://www.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600nw-1037719192.jpg", alt="product image"/>
                        </div>
                        <div class="card-content">
                            <h2 class="product-price"><%=prod.price%></h2>
                            <p class="product-description"><%=prod.description%></p> 
                        </div>
                        <div class="card-actions">
                            <button class="card-button">Add to Cart</button>
                        </div>
                    </article>
                <% }) %>
            </div>
        <% } else { %>
            <h1>No products listed</h1>
        <% } %>
    </main>
<%- include('./includes/end.ejs') %>